
.root{
	-fx-background-color:#D3D3D3;
	-fx-background-image: url('bg.jpg');
    -fx-background-size:cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.label{
	-fx-font-size:15pt;
	-fx-text-fill:#FFFFFF;
}

.button{
	-fx-font-size:15pt;
	-fx-text-fill:#FFFFFF;
	-fx-background-color:#000;
	-fx-webkit-border-radius: 30pt;
	-fx-border: 50pt solid #000;
	-fx-background-image: url('button.jpg');
    -fx-background-size:cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

#labelChess{
	-fx-font-size:30pt;
}

#tablero{
	-fx-background-image: url('imagen_tablero2.jpg');
    -fx-background-size:contain;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}