/* @font-face {
    font-family: Walkway-rounded;
    src: url("Walkwayrounded.ttf");
}*/

.root{
	-fx-background-color:#D3D3D3;
	-fx-background-image: url('bg.jpg');
    -fx-background-size:cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.label{
	-fx-font-size:15pt;
	-fx-text-fill:#3c2c20;
	-fx-font-family: Walkway Rounded;
	
	-fx-background-color:Transparent;
    -fx-background-size:contain;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.button{
	-fx-font-size:1.6em;
	-fx-text-fill:#3c2c20;
	-fx-font-family: Walkway Rounded;
	
	-fx-background-color:Transparent;
    -fx-background-size:contain;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    
    -fx-padding:3em;
    
}
.roundedButton{
	-fx-background-image: url('plainRoundedButton.png');
}
.squareButton{
	-fx-background-image: url('plainSquareButton.png');
}
.curvedButton{
	-fx-background-image: url('plainCurvedButton.png');
}

#labelChess{
	
	-fx-background-image: url('title.png');
    -fx-background-size:contain;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

#tablero{
	-fx-background-image: url('tablero.jpg');
    -fx-background-size:contain;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
.marked{
	/*-fx-border-width: 3px;*/
	
}

.tablaJugadas{
	-fx-background-image: url('jugadasPane.png');
    -fx-background-size:contain;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
.tablaJugadas .label{
	-fx-font-size: 10pt;
}